{% extends "admin/base_site.html" %}
{% load i18n %}

{% block bodyclass %}container{% endblock %}
{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block content %}
	<div class="row">
		<div class="offset4 span8">
			<h2>{% trans 'Page not found' %}</h2>
			<p>{% trans "We're sorry, but the requested page could not be found." %}</p>
		</div>
	</div>
{% endblock %}
