{% extends "admin/index.html" %} 
{% load i18n %} 

{% if not is_popup %}
		{% block breadcrumbs %}
			<ul class="breadcrumb">
				<li>
					<a href="/">{% trans 'Home' %}</a><span class="divider">/</span>
				</li>
				{% for app in app_list %}
				<li class="active">
					{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}
				</li>
				{% endfor %}
			</ul>
		{% endblock breadcrumbs %}
{% endif %} 

{% block sidebar %}{% endblock sidebar %}
