{% load url from future %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="{{ STATIC_URL }}css/admin.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
	 
	 <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% endblock stylesheet %}" />
{% block extrastyle %}{% endblock extrastyle %}

{% load admin_modify %}
{% load adminmedia %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";</script>


{% block extrahead %}{% endblock extrahead %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">



</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}">


    {% if not is_popup %}
    <!-- Topbar
    ================================================== -->
    <div class="topbar" data-scrollspy="scrollspy" >
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">{% block branding %}{% endblock %}</a>
          <ul class="nav">
            <li class="active"><a href="#overview">Dashboard</a></li>
            <li><a href="#about">Students</a></li>
            <li><a href="#about">Preceptors</a></li>
            <li><a href="#about">Faculty</a></li>
            <li><a href="#about">Placements</a></li>
     
          </ul>

        {% if user.is_active and user.is_staff %}
			 <p class="pull-right">{% trans 'Welcome,' %}
            <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
            {% block userlinks %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                {% endif %}
                {% url 'admin:password_change' as password_change_url %}
                {% if password_change_url %}
                    <a href="{{ password_change_url }}">
                {% else %}
                    <a href="{{ root_path }}password_change/">
                {% endif %}
                {% trans 'Change password' %}</a> /
                {% url 'admin:logout' as logout_url %}
                {% if logout_url %}
                    <a href="{{ logout_url }}">
                {% else %}
                    <a href="{{ root_path }}logout/">
                {% endif %}
                {% trans 'Log out' %}</a>
            {% endblock userlinks %}
			 </p>
        {% endif %}
        {% block nav-global %}{% endblock %}
        </div>
      </div>
    </div>
	 
    <!-- END Header -->
    <div class="{% block bodyclass %}{% endblock %}">
			  {% block sidebar %}
 
			  {% endblock sidebar %}
			  <!--content-->
      <div class="{% block contentclass %}{% endblock contentclass %}">

		{% block breadcrumbs %}
			<ul class="breadcrumb">
				<li>
					<a href="/">{% trans 'Home' %}</a><span class="divider">/</span>
				</li>
				{% if title %}	<li class="active">{{ title }}</li>{% endif %}
			</ul>
		{% endblock breadcrumbs %}


		{% if messages %}
		<!-- Messages -->
			{% for message in messages %}
				<div class="alert-message {% if message.tags %} {{ message.tags }}{% endif %}">
					<a class="close" href="#">×</a>
					<p>{{ message }}</p>
				</div>
			{% endfor %}
		<!-- END Messages -->
		{% endif %}
		  

    <!-- Content -->
    <div>
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h2>{{ title }}</h2>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->
      </div>
    </div>



	<!--end if is_popup-->
    {% endif %}




</body>
</html>
