{% extends "admin/base_site.html" %}
{% load i18n %}

  {% block breadcrumbs %}
	<ul class="breadcrumb">
		<li>
			<a href="../../../../">{% trans 'Home' %}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="../../../">{{ app_label|capfirst }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="../../">{{ opts.verbose_name_plural|capfirst }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="../">{{ object|truncatewords:"18" }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			 {% trans 'Delete' %}
		</li>
    </ul>
  {% endblock breadcrumbs %}

{% block content %}
{% if perms_lacking or protected %}
    {% if perms_lacking %}
        <p>{% blocktrans with object as escaped_object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in perms_lacking %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if protected %}
        <p>{% blocktrans with object as escaped_object %}Deleting the {{ object_name }} '{{ escaped_object }}' would require deleting the following protected related objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in protected %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <p>{% blocktrans with object as escaped_object %}Are you sure you want to delete the {{ object_name }} "{{ escaped_object }}"? All of the following related items will be deleted:{% endblocktrans %}</p>
    <ul>{{ deleted_objects|unordered_list }}</ul>
    <form action="" method="post">{% csrf_token %}
    <div>
    <input type="hidden" name="post" value="yes" />
    <input type="submit" class="btn danger" value="{% trans "Yes, I'm sure" %}" />
    </div>
    </form>
{% endif %}
{% endblock content %}
