{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{% trans 'Home' %}</a><span class="divider">/</span>
		</li>
		{% if title %}	<li class="active">{{ title }}</li>{% endif %}
	</ul>
{% endblock breadcrumbs %}

{% block content %}
<p>{% trans "Something's wrong with your database installation. Make sure the appropriate database tables have been created, and make sure the database is readable by the appropriate user." %}</p>
{% endblock %}
