{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{% load adminmedia %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/login.css" />{% endblock %}

{% block bodyclass %}container{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="row">
<div class="offset4 span8">
{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}



	<form action="{{ app_path }}" method="post" id="login-form" class="form-stacked">
		{% csrf_token %}
        <fieldset>
          <legend>Login</legend>

{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

          <div class="clearfix {% if form.username.errors %}error{% endif %}">
	 <label for="id_username" class="required">{% trans 'Username:' %}</label> 
            <div class="input">
 {{ form.username }}
            </div>
              {% if not form.this_is_the_login_form.errors and form.username.errors %}<span class="help-inline">{{ form.username.errors }}</span>{% endif %}

          <div class="clearfix {% if form.password.errors %}error{% endif %}">
	 <label for="id_password" class="required">{% trans 'Password:' %}</label> 
            <div class="input">
	 {{ form.password }}
 </div>
              {% if not form.this_is_the_login_form.errors and form.password.errors %}<span class="help-inline">{{ form.password.errors }}</span>{% endif %}
          </div><!-- /clearfix -->
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
        <div class="actions">
    <input class="btn primary" type="submit" value="{% trans 'Log in' %}" />
	 <button type="reset" class="btn">Cancel</button>
        </div>
      </form>



<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
</div>
</div>
{% endblock content %}
