{% extends "admin/base_site.html" %}
{% load i18n %}
{% block bodyclass %}container{% endblock %}

{% block breadcrumbs %}<ul class="breadcrumb"><li><a href="../">{% trans 'Home' %}</a></li></ul>{% endblock %}

{% block content %}

<div class="row">
<div class="offset5 span6">
<p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>

<p><a href="../">{% trans 'Log in again' %}</a></p>
</div>
</div>

{% endblock %}
