{% extends "admin/base_site.html" %}
{% load i18n adminmedia %}
{% load url from future %}
{% block bodyclass %}container{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="../logout/">{% trans 'Log out' %}</a>{% endblock %}


{% block breadcrumbs %}
<ul class="breadcrumb">
	<li><a href="../">{% trans 'Home' %}</a><span class="divider">/</span></li>
	<li class="active">{% trans 'Password change' %}</li>
</ul>
{% endblock breadcrumbs %}


{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
<div class="row">
<div class="offset4 span8">

<form action="" method="post">
	{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>{{ form.old_password }}
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>{{ form.new_password1 }}
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>{{ form.new_password2 }}
</div>

</fieldset>

<div class="actions">
    <input type="submit" value="{% trans 'Change my password' %}" class="btn primary" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form>

</div>
</div>
{% endblock %}
