{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}

{% block bodyclass %}container-fluid{% endblock %}
{% block contentclass %}content{% endblock contentclass %}
{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){

        $('.form-row.username').hide();
        $first_name = $('#id_first_name');
        $last_name = $('#id_last_name');
        $('.form-row.password').hide();
        $('#id_password').val('!');

        function update(){
            $('#id_username').val('p_' + $first_name.val().replace(' ','_').replace('.','') + '_' + $last_name.val().replace(' ','_').replace('.',''));   
        }

        $first_name.change(function(){
            // console.log('chanign first');
            update();
        });

        $last_name.change(function(){
            // console.log('chanign last');
            update();
        });
    });
</script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}


{% block breadcrumbs %}
{% if not is_popup %}
  <ul class="breadcrumb">
    <li>
      <a href="../../../">{% trans 'Home' %}</a>
      <span class="divider">/</span>
    </li>
    <li>
      <a href="../../">{{ app_label|capfirst|escape }}</a>
      <span class="divider">/</span>
    </li>
    {% if has_change_permission %}
    <li>
      <a href="../">{{ opts.verbose_name_plural|capfirst }}</a>
    <span class="divider">/</span>
    </li>
    {% else %}
    <li>
      {{ opts.verbose_name_plural|capfirst }}
    <span class="divider">/</span>
    </li>
    {% endif %}

    {% if add %}
    <li>
    {% trans "Add" %} {{ opts.verbose_name }}
    </li>
    {% else %}
    <li>
    {{ original|truncatewords:"18" }}
    </li>
    {% endif %}
  </ul>
  {% endif %}
{% endblock breadcrumbs %}


{% block content %}



<div id="content-main">





<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form>
</div>
{% endblock content %}


{% block sidebar %}
  <div class="sidebar">
    <div class="well">
      {% block object-tools %}
        {% if change %}
          {% if not is_popup %}
            {% block object-tools-items %}
              <a href="history/" class="btn primary">{% trans "History" %}</a></li>
              {% if has_absolute_url %}
                <a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="btn primary">{% trans "View on site" %}</a>
              {% endif %}
            {% endblock %}
          {% endif %}
        {% endif %}
      {% endblock object-tools %}
    </div>
  </div>
{% endblock sidebar %}
